<% layout("/layouts/boilerplate") %>

<div class="row mt-4">
  <div class="alert alert-danger col-6 offset-3">
    <h4>Error 😵</h4>
<p><%= message %></p>

<% if (process.env.NODE_ENV !== "production") { %>
  <pre><%= stack %></pre>
<% } %>
  </div>
</div>
